{% extends "layout.html" %}

{% block body %}
<div class=body>
    {% if error %}
    <p>{{error}}</p>
    {% endif %}

    Xrayweb was written by Alex Nicolellis and Matthew Newville at
    <a href=https://gsecars.uchicago.edu>GSECARS</a> at the University of Chicago.
    <p>

   <p>
     <ul>
      <li> <a href=https://github.com/xraypy/XrayDB/>XrayDB Python library</a> used for all the calculation here.</li>
      <li> <a href=https://xraypy.github.io/XrayDB/>XrayDB documentation</a></li>
      <li> <a href=https://github.com/xraypy/xrayweb>Xrayweb code (Python, Flask) for these web pages</a></li>
      <li> <a href=https://xraypy.github.io/XrayDB/periodictable.html> X-ray Periodic Tables</a></li>
    </ul>
   <p>
</div>
{% endblock %}
