{% extends "layout.html" %}

{% block body %}
<p><div class=subtitle>Monochromator Darwin Widths</div></p>

<div class=body>
    {% if error %}
        <p>{{error}}</p>
    {% endif %}

    <form action="{{url_for('darwinwidth')}}" method="POST">

      <table cellpadding=2 border=0>

       <tr>
	 <td> Monochromator Crystal: </td>
	 <td>
          <select name="xtal" id="xtal" style="width: 80px;">
            {% for val in xtal_list %}
            <option value="{{val}}"  {% if request.form['xtal'] == val %}
		    selected {% endif %}> {{val}}</option>
            {% endfor %}
          </select>
	 </td>
	 <td> Reflection: </td>
	 <td>
          <select name="hkl" id="hkl" style="width: 80px;">
            {% for val in hkl_list %}
            <option value="{{val}}"  {% if request.form['hkl'] == val %}
		    selected {% endif %}> {{val}}</option>
            {% endfor %}
          </select>
	 </td>
	 <td> Harmonic Order: </td>
	 <td>
          <select name="harmonic" id="harmonic" style="width: 80px;">
            <option value='1' {% if request.form['harmonic'] == '1' %} selected {% endif %}> 1</option>
            <option value='2' {% if request.form['harmonic'] == '2' %} selected {% endif %}> 2</option>
            <option value='3' {% if request.form['harmonic'] == '3' %} selected {% endif %}> 3</option>
            <option value='4' {% if request.form['harmonic'] == '4' %} selected {% endif %}> 4</option>
            <option value='5' {% if request.form['harmonic'] == '5' %} selected {% endif %}> 5</option>
            <option value='6' {% if request.form['harmonic'] == '6' %} selected {% endif %}> 6</option>
            <option value='7' {% if request.form['harmonic'] == '7' %} selected {% endif %}> 7</option>
            <option value='8' {% if request.form['harmonic'] == '8' %} selected {% endif %}> 8</option>
            <option value='9' {% if request.form['harmonic'] == '9' %} selected {% endif %}> 9</option>
          </select>
	 </td>
	 </tr>
       <tr>
	 <td> X-ray Energy  (eV): </td>
	 <td> <input style="width: 80px;" type="number" id="energy" name="energy"
		     min="0" step="any" value="{{ request.form['energy'] }}"> </td>
       </tr>
       <tr><td><input type="submit"
		      value="Calculate"></td><td colspan=5><hr></td></tr>

       <tr>
	 <td colspan=2> {% if dtheta_plot %}
	   <a href="{{url_for('darwindata',
		    xtal=request.form['xtal'],
		    hkl=request.form['hkl'],
		    m=request.form['harmonic'],
		    energy=request.form['energy'],
		    fname='xrayweb_darwin.txt')}}">  data file</a>
	   &nbsp; &nbsp;
	   <a href="{{url_for('darwinscript',
		    xtal=request.form['xtal'],
		    hkl=request.form['hkl'],
		    m=request.form['harmonic'],
		    energy=request.form['energy'],
		    fname='xrayweb_darwinwidth.py')}}"> python script </a>
	   {% endif %} </td>
	 <td colspan=4>
	   <table cellpadding=2 border=0 style='vertical-align: top; '>
	     <tr style='vertical-align: top; '>
	       <th > &nbsp; Reflection Property &nbsp;</th>
	       <th > &nbsp; Value  &nbsp;</th>
	       <th > &nbsp; Units  &nbsp;</th>
	     </tr>
	     <tr class='odd'>
	       <td> &nbsp; Bragg Angle: </td>
	       <td> &nbsp; {{theta_deg}}</td><td> &nbsp; degrees</td>
	     </tr>
	     <tr class='even'>
	       <td> &nbsp; Angular width FWHM: </td>
	       <td> &nbsp; {{theta_fwhm}}</td><td> &nbsp; microrad</td>
	     </tr>
	     <tr class='odd'>
	       <td> &nbsp; Energy width FWHM: </td>
	       <td> &nbsp; {{energy_fwhm}}</td><td> &nbsp; eV</td>
	     </tr>
	   </table>
	 </td>
       </tr>
      </table>
    </form>
</div>

{% if dtheta_plot %}
<script src="https://cdn.plot.ly/plotly-latest.min.js" charset="utf-8"></script>
<table cellpadding=2 border=0 style='vertical-align: top; '>
  <tr style='vertical-align: top; '>
    <td>
      <div id="dtheta_plot">
        <script  type="text/javascript">
          var graph = {{dtheta_plot | safe}};
          Plotly.plot('dtheta_plot',   graph.data,   graph.layout || {},  config=graph.config);
        </script>
      </div>
    </td> <td>
      <div id="denergy_plot">
        <script  type="text/javascript">
          var graph = {{denergy_plot | safe}};
          Plotly.plot('denergy_plot',   graph.data,   graph.layout || {},  config=graph.config);
        </script>
      </div>
</td></tr></table>

{% endif %}


{% endblock %}
