{% extends "layout.html" %}
{% block body %}

<p> <div class=subtitle>Select Element for X-ray Properties </div></p>

<div class=body>
    {% include "periodic_table.html" %}

    {% if elem %}

    <hr>
     <table>
           <tr>
             <th >Elemental Data for {{elem}}</th>
             <th >X-ray edges for {{elem}}</th>
             <th >X-ray lines for {{elem}}</th>
           </tr>

           <tr> <td><table cellspacing=5 cellpadding=2>
                      <tr>
                        <th> &nbsp; Number </th>
                        <th> &nbsp; Mass (AMU) </th>
                        <th> &nbsp; Density (gm/cm^3) </th>
                      </tr>

                      <tr>
                        <td> &nbsp; {{atomic.n}}</td>
                        <td> &nbsp; {{atomic.mass}}</td>
                        <td> &nbsp; {{atomic.density}}</td>
                      </tr>
             </table></td>

             <td><table cellspacing=5 cellpadding=2>
                  <tr>
                  <th >   &nbsp; Edge &nbsp;</th>
                  <th >  &nbsp; Energy (eV) &nbsp;</th>
                  <th >  &nbsp; Fluorescence Yield</th>
                  <th >  &nbsp; Edge Jump</th>
                  </tr>


                  {% for name ,data in edges.items() %}
                  <tr class={{ loop.cycle('odd', 'even') }}>
                  <td> &nbsp; &nbsp; {{name}} </td>
                  <td> &nbsp; {{data.energy}} </td>
                  <td> &nbsp; {{data.fyield}} </td>
                  <td> &nbsp; {{data.jump_ratio}} </td>
                  </tr>
                  {% endfor %}
                </table> </td>

                <td><table cellspacing=5 cellpadding=2>
                  <tr>
                  <th >   &nbsp; Siegbahn Notation &nbsp;</th>
                  <th >  &nbsp; Energy (eV) &nbsp;</th>
                  <th >  &nbsp; Intensity</th>
                  <th >  &nbsp; Initial Level</th>
                  <th >  &nbsp; Final Level</th>
                  </tr>


                  {% for name ,data in lines.items() %}
                  <tr class={{ loop.cycle('odd', 'even') }}>
                  <td> &nbsp; &nbsp; {{name}} </td>
                  <td> &nbsp; {{data.energy}} </td>
                  <td> &nbsp; {{data.intensity}} </td>
                  <td> &nbsp; {{data.initial_level}} </td>
                  <td> &nbsp; {{data.final_level}} </td>
                  </tr>
                  {% endfor %}
                </table> </td>



           </tr>
     </table>

    {% endif %}
</div>

{% endblock %}
