{% extends "layout.html" %}

{% block body %}
<script type=text/javascript>
  var temp = {{materials_dict | tojson}};
  var mdict = JSON.parse(temp);
  var keys = Object.keys(mdict);
  var vals = Object.values(mdict);

  function toFormula(name) {
    var i = keys.indexOf(name);
    if (i != -1) {
      return vals[i][0];
    }
    return "";
  }
  function toDensity(name) {
    var i = keys.indexOf(name);
    if (i != -1) {
      return vals[i][1];
    }
    return "";
  }
  function displayinfo() {
    var dropdown = document.getElementById('mats');
    document.getElementById('formula').value=toFormula(dropdown.options[dropdown.selectedIndex].text);
    document.getElementById('density').value=toDensity(dropdown.options[dropdown.selectedIndex].text);
  }
</script>
<p><div class=subtitle>Enter Chemical Formula for Results</div></p>
<div class=body>

  {% if message %}
    <p>{{message}}</p>
  {% endif %}

  <form action="{{url_for('formula')}}" method="post">
    <p>
      <label for="mats">Choose a preset material:</label>
      <select name="mats" id="mats"
        onchange="displayinfo()">
        <option></option>
        {% for mat in matlist %}
        <option value="{{mat}}" {% if request.form['mats'] == "{{mat}}" %} selected {% endif %}>{{mat}}</option>
        {% endfor %}
      </select>
    </p>

    <label for="formula">Formula:</label>
    <input type="text" id="formula" name="formula" value="{{ request.form['formula'] }}"><br><br>
    
    <label for="density">Density:</label>
    <input type="text" id="density" name="density" value="{{ request.form['density'] }}"><br><br>

    <label for="energy1">Energy 1:</label>
    <input type="text" id="energy1" name="energy1" value="{{ request.form['energy1'] }}"> &nbsp;

    <label for="energy2">Energy 2:</label>
    <input type="text" id="energy2" name="energy2" value="{{ request.form['energy2'] }}"> &nbsp;

    <label for="step">Energy Step:</label>
    <select name="step" id="step">
      <option value="10" {% if request.form['step'] == "10" %} selected {% endif %}>10</option>
      <option value="20" {% if request.form['step'] == "20" %} selected {% endif %}>20</option>
      <option value="50" {% if request.form['step'] == "50" %} selected {% endif %}>50</option>
      <option value="100" {% if request.form['step'] == "100" %} selected {% endif %}>100</option>
      <option value="200" {% if request.form['step'] == "200" %} selected {% endif %}>200</option>
      <option value="500" {% if request.form['step'] == "500" %} selected {% endif %}>500</option>
      <option value="1000" {% if request.form['step'] == "1000" %} selected {% endif %}>1000</option>
    </select> &nbsp;

    <label for="mode">Plot Mode:</label>
    <select name="mode" id="mode">
      <option value="Log" {% if request.form['mode'] == "Log" %} selected {% endif %}>Log</option>
      <option value="Linear" {% if request.form['mode'] == "Linear" %} selected {% endif %}>Linear</option>
    </select>
    <br><br>
    <input type="submit" value="Submit">
  </form>
  <p>
  </p>

  <div class="flex-container">
    <div class="flex-child magenta">
      {% if num %}
        <table>
          <caption><b>Results Table:</b></caption>
          <tr>
            <th>Energy &nbsp;</th>
            <th>Absorption Quantity &nbsp;</th>
            <th>Absorption Length &nbsp;</th>
          </tr>

          {% for x in range(num) %}
          <tr>
            <td>{{energies[x]}}</td>
            <td>{{absq[x]}}</td>
            <td>{{abslen[x]}}</td>
          </tr>
          {% endfor %}
        </table>
      {% endif %}
    </div>

    <div class="flex-child green">
      {% if mu_plot %}
      Plot of mu(E):

      <script src="https://cdn.plot.ly/plotly-latest.min.js" charset="utf-8"></script>
        <div id="mu_plot">
          <script  type="text/javascript">
            var graph = {{mu_plot | safe}};
            Plotly.plot('mu_plot',   graph.data,   graph.layout || {},  config=graph.config);
          </script>
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
