{% extends "layout.html" %}

{% block body %}
<p><div class=subtitle>Mirror Reflectivity Calculation</div></p>
<div class=body>
  {% if errors %}
    {% for e in range(errors) %}
      <p>{{message[e]}}</p>
    {% endfor %}
  {% endif %}

   <form action="{{url_for('reflectivity')}}" method="POST">

     <table cellpadding=2 border=0>

       <tr><td><b>Mirror 1</b></td><td colspan=5><hr></td></tr>
       <tr>
	 <td><label for="formula1">Chemical Formula:</label></td>

         <td><input style="width: 180px;" type="text" id="formula1"
		    name="formula1" value="{{ request.form['formula1'] }}">
	 </td>
	 <td><label for="density1">Density (g/cm^3):</label></td>
	 <td><input style="width: 100px;" type="number" id="density1"
		    step="0.01" name="density1" value="{{ request.form['density1'] }}">
	 </td>
	 <td><label for="mats1">Select known material:</label></td>
	 <td>
           <select name="mats1" id="mats1" style="width: 150px;"
		   onchange="displayinfo('mats1', 'formula1', 'density1')">
            <option></option>
            {% for mat in matlist %}
            <option value="{{mat}}"
		    {% if request.form['mats1'] == mat %} selected {% endif %}>
	      {{mat}}</option>
            {% endfor %}
        </select>
       </td></tr>

       <tr><td> <label for="angle1">Angle (milliradians):</label></td>
	 <td><input style="width: 80px;" type="number" id="angle1" name="angle1"
		    step="0.1" value="{{ request.form['angle1'] }}">
	 </td>
       </tr>

       <tr><td><b>Mirror 2</b></td><td colspan=5><hr></td></tr>
       <tr>
	 <td><label for="formula2">Chemical Formula:</label></td>
         <td><input style="width: 180px;" type="text" id="formula2"
		    name="formula2" value="{{ request.form['formula2'] }}">
	 </td>
	 <td><label for="density2">Density (g/cm^3):</label></td>
	 <td><input style="width: 100px;" type="text" id="density2"
		    name="density2" value="{{ request.form['density2'] }}">
	 </td>
	 <td><label for="mats2">Select known material:</label></td>
	 <td>
           <select name="mats2" id="mats2" style="width: 150px;"
		   onchange="displayinfo('mats2', 'formula2', 'density2')">
            <option></option>
            {% for mat in matlist %}
            <option value="{{mat}}"
		    {% if request.form['mats2'] == mat %} selected {% endif %}>
	      {{mat}}</option>
            {% endfor %}
        </select>
       </td></tr>

       <tr><td> <label for="angle2">Angle (milliradians):</label></td>
	 <td><input style="width: 80px;" type="text" id="angle2" name="angle2"
		    value="{{ request.form['angle2'] }}">
	 </td>
       </tr>

       <tr><td><b>X-ray Energy</b></td><td colspan=5><hr></td></tr>
       <tr>
	 <td> <label for="energy1">Energy Range (eV):</label></td>
	 <td> <input style="width: 80px;" type="number" id="energy1" name="energy1"
		     step="50" value="{{ request.form['energy1'] }}">
	  <label for="energy2">:</label>
	  <input style="width: 80px;" type="number" id="energy2" name="energy2"
		 step="50" value="{{ request.form['energy2'] }}"> </td>
	 <td> <label for="step"> Energy Step (eV):</label></td>
	 <td>
           <select style="width: 100px;" name="step" id="step">
             <option value="1" {% if request.form['step'] == "1" %} selected {% endif %}>1</option>
             <option value="2" {% if request.form['step'] == "2" %} selected {% endif %}>2</option>
             <option value="5" {% if request.form['step'] == "5" %} selected {% endif %}>5</option>
             <option value="10" {% if request.form['step'] == "10" %} selected {% endif %}>10</option>
             <option value="20" {% if request.form['step'] == "20" %} selected {% endif %}>20</option>
             <option value="50" {% if request.form['step'] == "50" %} selected {% endif %}>50</option>
             <option value="100" {% if request.form['step'] == "100" %} selected {% endif %}>100</option>
             <option value="200" {% if request.form['step'] == "200" %} selected {% endif %}>200</option>
             <option value="500" {% if request.form['step'] == "500" %} selected {% endif %}>500</option>
             <option value="1000" {% if request.form['step'] == "1000" %} selected {% endif %}>1000</option>
           </select>
	 </td>

	 <td> <label for="mode">Plot Mode:</label> </td>
	 <td>
           <select style="width: 100px;" name="mode" id="mode">
             <option value="Log"    {% if request.form['mode'] == "Log" %}
		     selected {% endif %}>  Log</option>
             <option value="Linear" {% if request.form['mode'] == "Linear" %}
		     selected {% endif %}>Linear</option>
           </select>
	 </td>
       </tr>


       <tr><td>  <input type="submit" value="Submit"></td></tr>
     </table>

    </form>
    <p>
    </p>

    <div class="flex-container">
      <div class="flex-child green">
            {% if ref_plot %}
            <b>Mirror Reflectivity vs. Energy:</b>

            <script src="https://cdn.plot.ly/plotly-latest.min.js" charset="utf-8"></script>
              <div id="ref_plot">
                <script  type="text/javascript">
                  var graph = {{ref_plot | safe}};
                  Plotly.plot('ref_plot',   graph.data,   graph.layout || {},  config=graph.config);
                </script>
              </div>
            {% endif %}
        </div>

      <div class="flex-child magenta">
        {% if num %}
	<a href="{{url_for('mirrordata',
		 formula=request.form['formula1'],
		 rho=request.form['density1'],
		 angle=request.form['angle1'],
		 e1=request.form['energy1'],
		 e2=request.form['energy2'],
		 estep=request.form['step'])}}"> download data file</a><br>

	{% endif %}
      </div>

    </div>
</div>
{% endblock %}
