{% extends "layout.html" %}

{% block body %}
<p><div class=subtitle>XAFS Transmission-Mode Sample Analysis</div></p>

<div class=body>

    {% if errors %}
    {% for e in range(errors) %}
    <p>{{message[e]}}</p>
    {% endfor %}
    {% endif %}

    <form action="{{url_for('transmission_sample')}}" method="post">

        <table cellpadding=2 border=0>

            <tr>
                <td><label for="sample">Sample Formula:</label></td>
                <td>
                    <input style="width: 180px;" type="text" id="sample" 
                    name="sample" value="{{ request.form['sample'] }}">
                </td>
                <td><label for="energy">Energy (eV):</label></td>
                <td>
                    <input style="width: 180px;" type="text" id="energy" 
                    name="energy" value="{{ request.form['energy'] }}">
                </td>
                <td><label for="absorp_total">Absorption Total:</label></td>
                <td>
                    <input style="width: 180px;" type="text" id="absorp_total" 
                    name="absorp_total" value="{{ request.form['absorp_total'] }}">
                </td>
            </tr>
            <tr>
                <td><label for="area">Area (cm^2):</label></td>
                <td>
                    <input style="width: 180px;" type="text" id="area" 
                    name="area" value="{{ request.form['area'] }}">
                </td>
                <td><label for="density">Density (g/cm^3):</label></td>
                <td>
                    <input style="width: 180px;" type="text" id="density" 
                    name="density" value="{{ request.form['density'] }}">
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit"></td>
            </tr>


        </table>

    </form>

    {% if result %}
        {{result | safe}}
    {% endif %}

</div>
{% endblock %}
